.hero {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
}

.heroDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.heroText {
  max-width: 40rem;
  text-align: center;
  color: white;
  font-weight: 300;
}

.heroImage {
  position: 'absolute', 
}

.detailBox {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 20rem;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  color: darkslategrey;
}
