.hero {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
}

.heroDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText {
  max-width: 40rem;
  text-align: center;
  color: white;
  font-weight: 300;
}

