
.about {
}

.aboutHeader {
}

.artistContent {
  height: 100%;
  width: min(90%, 75rem);
  display: grid;
  grid-auto-flow: row;
  margin: 0 0 3rem 0;
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0
}

.titleBox p {
  margin: 0.5em 0;
  font-style: italic;
}

.titleBox h2 {margin: 0;}

.iconBox {
  width: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socialIcon {
  font-size: 1.75rem;
  margin-right: 1rem;
  color: var(--clr-grey-1);
  opacity: 0.8;
  transition: var(--transition);
}

.socialIcon:hover {
  color: var(--clr-primary-5);
  transform: scale(1.1);
}

@media (min-width: 55em) {
  .artistContent {
    grid-auto-flow: column;
    justify-content: flex-end;
    margin: 2rem auto;
    gap: 2em;
    outline: 1px solid lightgray;
    padding: 2rem;
  }

  .titleBox {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .socialIcon {
    font-size: 2.5rem;
    margin-left: 1.5rem;
  }

  .iconBox {
    width: 15rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}