.page {
  min-height: calc(100vh - 6rem);
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-10);
}